$icon-coin-colors: (#060606,#ffd700, #daa520);
// prettier-ignore
$icon-coin: (
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0),
  (0,0,0,1,1,2,2,2,2,1,1,0,0,0),
  (0,0,1,2,2,1,1,1,1,2,2,1,0,0),
  (0,1,2,1,1,3,3,3,3,1,2,1,1,0),
  (0,1,2,1,3,3,3,3,3,3,1,2,1,0),
  (1,2,1,3,3,3,3,3,3,3,3,1,2,1),
  (1,2,1,3,3,3,3,3,3,3,3,1,2,1),
  (1,2,1,3,3,3,3,3,3,3,3,1,2,1),
  (1,2,1,3,3,3,3,3,3,3,3,1,2,1),
  (0,1,2,1,3,3,3,3,3,3,1,2,1,0),
  (0,1,2,1,1,3,3,3,3,1,2,2,1,0),
  (0,0,1,2,2,1,1,1,1,2,2,1,0,0),
  (0,0,0,1,1,2,2,2,2,1,1,0,0,0),
  (0,0,0,0,0,1,1,1,1,0,0,0,0,0),
);
