$icon-discord-colors: (#fff, #5865f2);
// prettier-ignore
$icon-linkedin: (
  (0,0,2,2,2,2,2,2,2,2,2,2,2,2,0,0),
  (0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
  (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
  (2,2,2,2,1,1,1,2,2,1,1,1,2,2,2,2),
  (2,2,2,1,1,1,1,1,1,1,1,1,1,2,2,2),
  (2,2,2,1,1,1,1,1,1,1,1,1,1,2,2,2),
  (2,2,1,1,1,1,1,1,1,1,1,1,1,1,2,2),
  (2,2,1,1,1,2,2,1,1,2,2,1,1,1,2,2),
  (2,1,1,1,1,2,2,1,1,2,2,1,1,1,1,2),
  (2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2),
  (2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2),
  (2,2,1,1,1,2,2,2,2,2,2,1,1,1,2,2),
  (2,2,2,1,1,1,2,2,2,2,1,1,1,2,2,2),
  (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
  (0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
  (0,0,2,2,2,2,2,2,2,2,2,2,2,2,0,0),
);