$icon-heart-colors: (#fff, #444, #f22426, #842300);
// prettier-ignore
$icon-heart: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,2,2,2,0,0,0,0,0,2,2,2,0,0,0),
  (0,2,3,3,3,2,0,0,0,2,3,3,4,2,0,0),
  (2,3,1,1,3,3,2,0,2,3,3,3,3,4,2,0),
  (2,3,1,3,3,3,3,2,3,3,3,3,3,4,2,0),
  (2,3,3,3,3,3,3,3,3,3,3,3,3,4,2,0),
  (2,3,3,3,3,3,3,3,3,3,3,3,3,4,2,0),
  (2,3,3,3,3,3,3,3,3,3,3,3,3,4,2,0),
  (0,2,3,3,3,3,3,3,3,3,3,3,4,2,0,0),
  (0,0,2,3,3,3,3,3,3,3,3,4,2,0,0,0),
  (0,0,0,2,3,3,3,3,3,3,4,2,0,0,0,0),
  (0,0,0,0,2,3,3,3,3,4,2,0,0,0,0,0),
  (0,0,0,0,0,2,3,3,4,2,0,0,0,0,0,0),
  (0,0,0,0,0,0,2,4,2,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);

// prettier-ignore
$icon-heart-half: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,2,2,2,0,0,0,0,0,2,2,2,0,0,0),
  (0,2,3,3,3,2,0,0,0,2,0,0,0,2,0,0),
  (2,3,1,1,3,3,2,0,2,0,0,0,0,0,2,0),
  (2,3,1,3,3,3,3,2,0,0,0,0,0,0,2,0),
  (2,3,3,3,3,3,3,3,0,0,0,0,0,0,2,0),
  (2,3,3,3,3,3,3,3,0,0,0,0,0,0,2,0),
  (2,3,3,3,3,3,3,3,0,0,0,0,0,0,2,0),
  (0,2,3,3,3,3,3,3,0,0,0,0,0,2,0,0),
  (0,0,2,3,3,3,3,3,0,0,0,0,2,0,0,0),
  (0,0,0,2,3,3,3,3,0,0,0,2,0,0,0,0),
  (0,0,0,0,2,3,3,3,0,0,2,0,0,0,0,0),
  (0,0,0,0,0,2,3,3,0,2,0,0,0,0,0,0),
  (0,0,0,0,0,0,2,4,2,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);

// prettier-ignore
$icon-heart-transparent: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,2,2,2,0,0,0,0,0,2,2,2,0,0,0),
  (0,2,0,0,0,2,0,0,0,2,0,0,0,2,0,0),
  (2,0,0,0,0,0,2,0,2,0,0,0,0,0,2,0),
  (2,0,0,0,0,0,0,2,0,0,0,0,0,0,2,0),
  (2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0),
  (2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0),
  (2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0),
  (0,2,0,0,0,0,0,0,0,0,0,0,0,2,0,0),
  (0,0,2,0,0,0,0,0,0,0,0,0,2,0,0,0),
  (0,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0),
  (0,0,0,0,2,0,0,0,0,0,2,0,0,0,0,0),
  (0,0,0,0,0,2,0,0,0,2,0,0,0,0,0,0),
  (0,0,0,0,0,0,2,0,2,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);

$icon-heart-empty-colors: (#adafbb);
// prettier-ignore
$icon-heart-empty: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,1,1,1,0,0,0,0,0,1,1,1,0,0,0),
  (0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0),
  (1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0),
  (1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0),
  (1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0),
  (1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0),
  (1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0),
  (0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0),
  (0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);
