@import "pixelize.scss";
@import "twitter.scss";
@import "facebook.scss";
@import "github.scss";
@import "youtube.scss";
@import "heart.scss";
@import "star.scss";
@import "like.scss";

@mixin setup($pixel) {
  $size: $pixel * 16;

  width: $size;
  height: $size;

  &::before {
    top: $pixel * -1;
    left: $pixel * -1;
    width: $pixel;
    height: $pixel;
  }

  &.-twitter::before {
    @include pixelize($twitter, $pixel, #1c9ceb);
  }

  &.-facebook::before {
    @include pixelize($facebook, $pixel, #4566ae);
  }

  &.-github::before {
    @include pixelize($github, $pixel, #333333);
  }

  &.-youtube::before {
    @include pixelize($youtube, $pixel, #ff0100);
  }

  &.-heart::before {
    @include pixelize($heart, $pixel, #f11416);
  }

  &.-star::before {
    @include pixelize($star, $pixel, #f7de4e);
  }

  &.-like::before {
    @include pixelize($like, $pixel, #1e77be);
  }
}

.icon {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    display: block;
    content: "";
    background: transparent;
  }

  // -default
  @include setup(2px);

  &.-medium {
    @include setup(3px);
  }

  &.-large {
    @include setup(4px);
  }
}
