// reaction
@import "heart.scss";
@import "star.scss";
@import "like.scss";

// sns
@import "twitter.scss";
@import "facebook.scss";
@import "github.scss";
@import "youtube.scss";
@import "google.scss";
@import "medium.scss";
@import "twitch.scss";
@import "reddit.scss";
@import "whatsapp.scss";
@import "gmail.scss";
@import "linkedin.scss";

// others
@import "close.scss";
@import "trophy.scss";

.nes-icon {
  position: relative;
  display: inline-block;

  @mixin setup($px) {
    $size: $px * 16;

    width: $size;
    height: $size;

    &::before {
      position: absolute;
      top: $px * -1;
      left: $px * -1;
      display: block;
      width: $size;
      height: $size;
      content: "";
      background: transparent;
    }

    &.heart::before {
      @include pixelize($icon-heart, $icon-heart-colors, $px);
    }
    &.heart.is-empty::before {
      @include pixelize($icon-heart-empty, $icon-heart-empty-colors, $px);
    }

    &.star::before {
      @include pixelize($icon-star, $icon-star-colors, $px);
    }
    &.star.is-empty::before {
      @include pixelize($icon-star-empty, $icon-star-empty-colors, $px);
    }
    &.star.is-half::before {
      @include pixelize($icon-star-half, $icon-star-colors, $px);
    }
    &.star.is-transparent::before {
      @include pixelize($icon-star-transparent, $icon-star-colors, $px);
    }

    &.trophy::before {
      @include pixelize($icon-trophy, $icon-trophy-colors, $px);
    }
    &.trophy.is-empty::before {
      @include pixelize($icon-trophy-empty, $icon-trophy-empty-colors, $px);
    }

    &.like::before {
      @include pixelize($icon-like, $icon-like-colors, $px);
    }
    &.like.is-empty::before {
      @include pixelize($icon-like-empty, $icon-like-empty-colors, $px);
    }

    &.twitter::before {
      @include pixelize($icon-twitter, $icon-twitter-colors, $px);
    }

    &.facebook::before {
      @include pixelize($icon-facebook, $icon-facebook-colors, $px);
    }

    &.github::before {
      @include pixelize($icon-github, $icon-github-colors, $px);
    }

    &.youtube::before {
      @include pixelize($icon-youtube, $icon-youtube-colors, $px);
    }

    &.close::before {
      @include pixelize($icon-close, $icon-close-colors, $px);
    }

    &.google::before {
      @include pixelize($icon-google, $icon-google-colors, $px);
    }

    &.medium::before {
      @include pixelize($icon-medium, $icon-medium-colors, $px);
    }

    &.twitch::before {
      @include pixelize($icon-twitch, $icon-twitch-colors, $px);
    }

    &.reddit::before {
      @include pixelize($icon-reddit, $icon-reddit-colors, $px);
    }

    &.whatsapp::before {
      @include pixelize($icon-whatsapp, $icon-whatsapp-colors, $px);
    }

    &.gmail::before {
      @include pixelize($icon-gmail, $icon-gmail-colors, $px);
    }

    &.linkedin::before {
      @include pixelize($icon-linkedin, $icon-linkedin-colors, $px);
    }
  }

  // default
  @include setup(2px);

  &.is-small {
    @include setup(1px);
  }

  &.is-medium {
    @include setup(3px);
  }

  &.is-large {
    @include setup(4px);
  }
}
