$icon-instagram-colors: (#fff, #8005c8, #d40075, #e98c25, #d84646);
// prettier-ignore
$icon-instagram: (
  ( 0,0,2,2,2,2,2,2,2,2,2,2,2,2,0,0),
  ( 0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
  ( 2,2,2,1,1,1,1,1,1,1,1,1,1,2,2,2),
  ( 2,2,1,1,1,1,1,1,1,1,1,2,2,1,2,2),
  ( 2,2,1,1,1,1,1,1,1,1,1,2,2,1,2,2),
  ( 2,2,1,1,1,1,2,2,2,2,1,1,1,1,2,2),
  ( 3,2,1,1,1,2,1,1,1,1,2,1,1,1,2,3),
  ( 3,3,1,1,1,2,1,1,1,1,2,1,1,1,3,3),
  ( 3,3,1,1,1,3,1,1,1,1,3,1,1,1,3,3),
  ( 3,3,1,1,1,3,1,1,1,1,3,1,1,1,3,3),
  ( 4,4,1,1,1,1,3,3,3,3,1,1,1,1,3,3),
  ( 4,4,1,1,1,1,1,1,1,1,1,1,1,1,3,3),
  ( 4,4,1,1,1,1,1,1,1,1,1,1,1,1,5,5),
  ( 4,4,4,1,1,1,1,1,1,1,1,1,1,5,5,5),
  ( 0,4,4,4,4,4,4,4,4,5,5,5,5,5,5,0),
  ( 0,0,4,4,4,4,4,4,5,5,5,5,5,5,0,0)
);
