$icon-like-colors: (#fff, #333, #2e77be);
// prettier-ignore
$icon-like: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,2,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,1,2,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,1,2,0,0,0,0,0,0),
  (0,0,0,0,0,0,2,1,1,2,0,0,0,0,0,0),
  (0,0,0,0,0,0,2,1,1,2,2,2,2,2,2,0),
  (0,0,0,0,0,2,1,1,1,1,1,1,1,1,1,2),
  (0,2,2,2,0,2,1,1,1,1,1,1,1,1,1,2),
  (2,3,3,3,2,1,1,1,1,1,1,1,1,1,1,2),
  (2,3,3,3,2,1,1,1,1,1,1,1,1,1,2,0),
  (2,3,3,3,2,1,1,1,1,1,1,1,1,1,2,0),
  (2,3,3,3,2,1,1,1,1,1,1,1,1,1,2,0),
  (2,3,3,3,2,1,1,1,1,1,1,1,1,2,0,0),
  (2,3,3,3,2,1,1,1,1,1,1,1,1,2,0,0),
  (0,2,2,2,0,2,2,2,2,2,2,2,2,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);

$icon-like-empty-colors: (#adafbb);
// prettier-ignore
$icon-like-empty: (
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,0,1,1,1,1,1,1,0),
  (0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1),
  (0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,1),
  (1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1),
  (1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0),
  (1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0),
  (1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0),
  (1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0),
  (1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0),
  (0,1,1,1,0,1,1,1,1,1,1,1,1,0,0,0),
  (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
);
