$icon-star-colors: (#fff, #444, #ebe527, #f59f54);
// prettier-ignore
$icon-star: (
  (0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,2,3,2,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,2,3,2,0,0,0,0,0,0,0),
  (0,0,0,0,0,2,3,3,3,2,0,0,0,0,0,0),
  (0,0,0,0,0,2,1,1,3,2,0,0,0,0,0,0),
  (2,2,2,2,2,2,1,3,3,3,2,2,2,2,2,0),
  (2,3,3,3,1,1,3,3,3,3,3,3,3,3,2,0),
  (0,2,3,3,1,3,3,3,3,3,3,3,4,2,0,0),
  (0,0,2,3,3,3,3,3,3,3,4,4,2,0,0,0),
  (0,0,0,2,3,3,3,3,3,3,3,2,0,0,0,0),
  (0,0,2,3,3,3,3,4,3,3,3,3,2,0,0,0),
  (0,0,2,3,3,3,4,4,4,3,3,3,2,0,0,0),
  (0,2,3,3,4,4,4,2,4,4,4,3,3,2,0,0),
  (0,2,3,4,4,2,2,0,2,2,4,4,3,2,0,0),
  (2,4,4,2,2,0,0,0,0,0,2,2,4,4,2,0),
  (2,2,2,0,0,0,0,0,0,0,0,0,2,2,2,0)
);

$icon-star-empty-colors: (#adafbb);
// prettier-ignore
$icon-star-empty: (
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0),
  (1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0),
  (1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0),
  (0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0),
  (0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0),
  (0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0),
  (0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0),
  (0,1,0,0,0,1,1,0,1,1,0,0,0,1,0,0),
  (1,0,0,1,1,0,0,0,0,0,1,1,0,0,1,0),
  (1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,0)
);

$icon-star-half: (
  (0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 2, 3, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 2, 3, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 3, 3, 0, 2, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 3, 3, 0, 2, 0, 0, 0, 0, 0, 0),
  (2, 2, 2, 2, 2, 2, 3, 3, 0, 0, 2, 2, 2, 2, 2, 0),
  (2, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 2, 0),
  (0, 2, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 2, 0, 0),
  (0, 0, 2, 3, 3, 3, 3, 3, 0, 0, 0, 0, 2, 0, 0, 0),
  (0, 0, 0, 2, 3, 3, 3, 3, 0, 0, 0, 2, 0, 0, 0, 0),
  (0, 0, 2, 3, 3, 3, 3, 4, 0, 0, 0, 0, 2, 0, 0, 0),
  (0, 0, 2, 3, 3, 3, 4, 4, 0, 0, 0, 0, 2, 0, 0, 0),
  (0, 2, 3, 3, 4, 4, 4, 2, 0, 0, 0, 0, 0, 2, 0, 0),
  (0, 2, 3, 4, 4, 2, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0),
  (2, 4, 4, 2, 2, 0, 0, 0, 0, 0, 2, 2, 0, 0, 2, 0),
  (2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0)
);

$icon-star-transparent: (
  (0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0),
  (2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0),
  (2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0),
  (0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0),
  (0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0),
  (0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0),
  (0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0),
  (0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0),
  (0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0),
  (0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0),
  (2, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 2, 0, 0, 2, 0),
  (2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0)
);
