$icon-star-colors: (#333, #ebe517, #f59f54);
// prettier-ignore
$icon-star: (
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,2,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,1,2,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,2,2,2,1,0,0,0,0,0,0),
  (0,0,0,0,0,1,0,0,2,1,0,0,0,0,0,0),
  (1,1,1,1,1,1,0,2,2,2,1,1,1,1,1,0),
  (1,2,2,2,0,0,2,2,2,2,2,2,2,2,1,0),
  (0,1,2,2,0,2,2,2,2,2,2,2,3,1,0,0),
  (0,0,1,2,2,2,2,2,2,2,3,3,1,0,0,0),
  (0,0,0,1,2,2,2,2,2,2,2,1,0,0,0,0),
  (0,0,1,2,2,2,2,3,2,2,2,2,1,0,0,0),
  (0,0,1,2,2,2,3,3,3,2,2,2,1,0,0,0),
  (0,1,2,2,3,3,3,1,3,3,3,2,2,1,0,0),
  (0,1,2,3,3,1,1,0,1,1,3,3,2,1,0,0),
  (1,3,3,1,1,0,0,0,0,0,1,1,3,3,1,0),
  (1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,0)
);
