$icon-whatsapp-colors: (#00ba37, #fff);
// prettier-ignore
$icon-whatsapp: (
  ( 0,0,0,1,1,1,1,1,1,1,1,1,1,1,0,0 ),
  ( 0,0,1,1,1,2,2,2,2,2,2,2,1,1,1,0 ),
  ( 0,1,1,1,2,1,1,1,1,1,1,1,2,1,1,1 ),
  ( 0,1,1,2,1,1,1,1,1,1,1,1,1,2,1,1 ),
  ( 0,1,1,2,1,2,2,1,1,1,1,1,1,2,1,1 ),
  ( 0,1,2,1,1,2,2,1,1,1,1,1,1,1,2,1 ),
  ( 0,1,2,1,1,2,1,1,1,1,1,1,1,1,2,1 ),
  ( 0,1,2,1,1,1,2,2,1,1,1,1,1,1,2,1 ),
  ( 0,1,2,1,1,1,1,2,2,1,1,1,1,1,2,1 ),
  ( 0,1,2,1,1,1,1,1,2,1,2,2,1,1,2,1 ),
  ( 0,1,1,2,1,1,1,1,1,2,2,2,1,2,1,1 ),
  ( 0,1,1,2,1,1,1,1,1,1,1,1,1,2,1,1 ),
  ( 0,1,2,1,2,1,1,1,1,1,1,1,2,1,1,1 ),
  ( 0,1,2,2,1,2,2,2,2,2,2,2,1,1,1,0 ),
  ( 0,0,1,1,1,1,1,1,1,1,1,1,1,1,0,0 )
);
