body {
  margin: 2rem;
}

.github-link {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  height: 100px;
  color: #333;
  text-decoration: none;
}
.github-link:hover {
  text-decoration: none;
}
.github-link > p.balloon {
  align-self: flex-start;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  color: #333;
}
.github-link > i.octocat {
  align-self: flex-end;
}
