@property --nes-btn-border-width {
  syntax: '<line-width>';
  inherits: false;
  initial-value: 4px;
}

@property --nes-btn-border-color {
  syntax: '<color>';
  inherits: false;
  initial-value: black;
}

@property --nes-btn-border-inset-color {
  syntax: '<color>';
  inherits: false;
  initial-value: gray;
}

/**
 * CSS Variables
 */
.nes-btn {
  --nes-btn-border-width: 4px;
  --nes-btn-border-color: black;
  --nes-btn-border-inset-color: gray;

}

/**
 * Basic Style
 */
.nes-btn {
  border: solid var(--nes-btn-border-width) var(--nes-btn-border-color);
  box-shadow:
    inset 0 calc(var(--nes-btn-border-width) * -1) var(--nes-btn-border-inset-color),
    inset calc(var(--nes-btn-border-width) * -1) 0 var(--nes-btn-border-inset-color);

  --nes-n: var(--nes-btn-border-width);
  --nes-m: calc(100% - var(--nes-btn-border-width));
  clip-path: polygon(
    0 var(--nes-n), var(--nes-n) var(--nes-n), var(--nes-n) 0,
    var(--nes-m) 0, var(--nes-m) var(--nes-n), 100% var(--nes-n),
    100% var(--nes-m), var(--nes-m) var(--nes-m), var(--nes-m) 100%,
    var(--nes-n) 100%, var(--nes-n) var(--nes-m), 0 var(--nes-m)
  );

  padding: 0.5em 1em;
}
