.nes-bcrikko {
  $bcrikko-colors: (#333, #f9f2d7, #c5090c, #fff);

  // prettier-ignore
  $bcrikko: (
    (0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,2,1,1,2,2,2,2,1,1,2,2,2,2),
    (2,2,2,1,1,4,1,2,2,1,1,4,1,2,2,2),
    (2,2,2,1,1,1,1,2,2,1,1,1,1,2,2,2),
    (2,2,2,1,1,1,1,2,2,1,1,1,1,2,2,2),
    (2,2,2,1,1,1,1,2,2,1,1,1,1,2,2,2),
    (2,2,2,2,1,1,2,2,2,2,1,1,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,3,2,2,2,2,2,2,2,2,3,2,2,2),
    (2,2,2,3,2,2,2,2,2,2,2,2,3,2,2,2),
    (2,2,2,2,3,3,3,3,3,3,3,3,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
  );

  position: relative;
  display: inline-block;
  width: calc(1em * 16);
  height: calc(1em * 16);
  font-size: 4px;

  &::before {
    position: absolute;
    top: -1em;
    left: -1em;
    content: "";
    background: transparent;

    @include pixelize($bcrikko, $bcrikko-colors);
  }
}
