.nes-bcrikko {
  $px: 4px;
  $bcrikko-colors: (#333, #f9f2d7, #c5090c, #fff);

  // prettier-ignore
  $bcrikko: (
    (0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,2,1,1,2,2,2,2,1,1,2,2,2,2),
    (2,2,2,1,1,4,1,2,2,1,1,4,1,2,2,2),
    (2,2,2,1,1,1,1,2,2,1,1,1,1,2,2,2),
    (2,2,2,1,1,1,1,2,2,1,1,1,1,2,2,2),
    (2,2,2,1,1,1,1,2,2,1,1,1,1,2,2,2),
    (2,2,2,2,1,1,2,2,2,2,1,1,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,2,2,3,2,2,2,2,2,2,2,2,3,2,2,2),
    (2,2,2,3,2,2,2,2,2,2,2,2,3,2,2,2),
    (2,2,2,2,3,3,3,3,3,3,3,3,2,2,2,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
  );

  position: relative;
  display: inline-block;
  width: $px * 16;
  height: $px * 16;

  &::before {
    position: absolute;
    top: $px * -1;
    left: $px * -1;
    content: "";
    background: transparent;

    @include pixelize($bcrikko, $bcrikko-colors, $px);
  }
}
