.nes-mario {
  $mario-colors: (#f81c2f, #65352b, #ffbb8e, #000, #1560ad, #aeaeac, #fef102);
  // prettier-ignore
  $mario: (
    (0,0,0,0,1,1,1,1,1,0,0,0,0,0),
    (0,0,0,1,1,1,1,1,1,1,1,1,0,0),
    (0,0,0,2,2,2,3,3,4,3,0,0,0,0),
    (0,0,2,3,2,3,3,3,4,3,3,3,0,0),
    (0,0,2,3,2,2,3,3,3,4,3,3,3,0),
    (0,0,2,2,3,3,3,3,4,4,4,4,0,0),
    (0,0,0,0,3,3,3,3,3,3,3,0,0,0),
    (0,0,0,0,1,5,1,1,5,0,0,0,0,0),
    (0,0,1,1,1,5,1,1,5,1,1,1,0,0),
    (0,1,1,1,1,5,5,5,5,1,1,1,1,0),
    (0,6,6,1,5,7,5,5,7,5,1,6,6,0),
    (0,6,6,6,5,5,5,5,5,5,6,6,6,0),
    (0,6,6,5,5,5,5,5,5,5,5,6,6,0),
    (0,0,0,5,5,5,0,0,5,5,5,0,0,0),
    (0,0,2,2,2,0,0,0,0,2,2,2,0,0),
    (0,2,2,2,2,0,0,0,0,2,2,2,2,0)
  );
  $size: 6px;

  position: relative;
  display: inline-block;
  width: $size * length(nth($mario, 1));
  height: $size * length($mario);

  &::before {
    position: absolute;
    top: -$size;
    left: -$size;
    content: "";
    background: transparent;

    @include pixelize($size, $mario, $mario-colors);
  }
}
