.nes-mario {
  $px: 6px;
  // prettier-ignore
  $mario-colors: (#f81c2f, #65352b, #ffbb8e, #000,
    #1560ad, #aeaeac, #fef102);
  // prettier-ignore
  $mario: (
    (0,0,0,0,1,1,1,1,1,0,0,0,0,0),
    (0,0,0,1,1,1,1,1,1,1,1,1,0,0),
    (0,0,0,2,2,2,3,3,4,3,0,0,0,0),
    (0,0,2,3,2,3,3,3,4,3,3,3,0,0),
    (0,0,2,3,2,2,3,3,3,4,3,3,3,0),
    (0,0,2,2,3,3,3,3,4,4,4,4,0,0),
    (0,0,0,0,3,3,3,3,3,3,3,0,0,0),
    (0,0,0,0,1,5,1,1,5,0,0,0,0,0),
    (0,0,1,1,1,5,1,1,5,1,1,1,0,0),
    (0,1,1,1,1,5,5,5,5,1,1,1,1,0),
    (0,6,6,1,5,7,5,5,7,5,1,6,6,0),
    (0,6,6,6,5,5,5,5,5,5,6,6,6,0),
    (0,6,6,5,5,5,5,5,5,5,5,6,6,0),
    (0,0,0,5,5,5,0,0,5,5,5,0,0,0),
    (0,0,2,2,2,0,0,0,0,2,2,2,0,0),
    (0,2,2,2,2,0,0,0,0,2,2,2,2,0)
  );

  position: relative;
  display: inline-block;
  width: $px * 14;
  height: $px * 16;

  &::before {
    position: absolute;
    top: $px * -1;
    left: $px * -1;
    content: "";
    background: transparent;

    @include pixelize($mario, $mario-colors, $px);
  }
}
