.nes-logo {
  $logo-colors: (#3e3634, #c3c3c3, #787973, #bf1710);

  // prettier-ignore
  $logo: (
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,1,1,1,1,1,1,1,1,1,1,1,1,1,2),
    (2,1,1,2,1,1,3,3,3,1,1,1,1,1,2),
    (2,1,2,2,2,1,1,1,1,1,1,1,1,1,2),
    (2,1,1,2,1,1,3,3,3,1,4,1,4,1,2),
    (2,1,1,1,1,1,1,1,1,1,1,1,1,1,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2)
  );
  $size: 4px;

  position: relative;
  display: inline-block;
  width: $size * length(nth($logo, 1));
  height: $size * length($logo);

  &::before {
    position: absolute;
    top: -$size;
    left: -$size;
    content: "";
    background: transparent;

    @include pixelize($size, $logo, $logo-colors);
  }
}
