.nes-jp-logo {
  $px: 3px;
  $logo-colors: (#333, #871f37, #dfd3b9);

  // prettier-ignore
  $logo: (
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2),
    (2,3,3,3,3,3,2,2,2,2,2,2,2,2,2),
    (2,3,3,1,3,3,2,2,2,2,2,2,2,2,2),
    (2,3,1,1,1,3,3,3,3,3,3,3,3,3,2),
    (2,3,3,1,3,3,1,2,1,3,1,3,1,3,2),
    (2,3,3,3,3,3,3,3,3,3,3,3,3,3,2),
    (2,2,2,2,2,2,2,2,2,2,2,2,2,2,2)
  );

  position: relative;
  display: inline-block;
  width: $px * 16;
  height: $px * 11;

  &::before {
    position: absolute;
    top: $px * -1;
    left: $px * -1;
    content: "";
    background: transparent;

    @include pixelize($logo, $logo-colors, $px);
  }
}
