.nes-octocat {
  $octocat-colors: (#333, #ffdec4, #cb7066);
  // prettier-ignore
  $octocat-1: (
    (0,0,0,1,0,0,0,0,0,0,0,0,1,0),
    (0,0,0,1,1,0,0,0,0,0,0,1,1,0),
    (0,0,0,1,1,1,1,1,1,1,1,1,1,0),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,1),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,1),
    (0,0,1,1,1,2,2,2,2,2,2,1,1,1),
    (0,0,1,1,2,3,2,2,2,2,3,2,1,1),
    (0,0,1,1,2,3,2,2,2,2,3,2,1,1),
    (0,0,0,1,1,2,2,3,3,2,2,1,1,0),
    (1,1,0,0,0,0,1,1,1,1,0,0,0,0),
    (0,0,1,1,0,1,1,1,1,1,1,0,0,0),
    (0,0,0,1,1,1,1,1,1,1,1,0,0,0),
    (0,0,0,0,0,1,0,1,1,0,1,0,0,0),
    (0,0,0,0,0,1,0,1,1,0,1,0,0,0),
    (0,0,0,0,1,0,1,0,0,1,0,1,0,0)
  );
  // prettier-ignore
  $octocat-2: (
    (0,0,0,1,0,0,0,0,0,0,0,0,1,0),
    (0,0,0,1,1,0,0,0,0,0,0,1,1,0),
    (0,0,0,1,1,1,1,1,1,1,1,1,1,0),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,1),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,1),
    (0,0,1,1,1,2,2,2,2,2,2,1,1,1),
    (0,0,1,1,2,2,2,2,2,2,2,2,1,1),
    (0,1,1,1,2,3,2,2,2,2,3,2,1,1),
    (0,1,0,1,1,2,2,3,3,2,2,1,1,0),
    (0,0,1,0,0,0,1,1,1,1,0,0,0,0),
    (0,0,0,1,0,1,1,1,1,1,1,0,0,0),
    (0,0,0,1,1,1,1,1,1,1,1,0,0,0),
    (0,0,0,0,0,1,0,1,1,0,1,0,0,0),
    (0,0,0,0,0,1,0,1,1,0,1,0,0,0),
    (0,0,0,0,1,0,1,0,0,1,0,1,0,0)
  );

  position: relative;
  display: inline-block;
  width: calc(1em * 14);
  height: calc(1em * 15);
  font-size: 6px;

  &::before {
    position: absolute;
    top: -1em;
    left: -1em;
    content: "";
    background: transparent;

    @include pixelize($octocat-1, $octocat-colors);
  }

  &.animate::before {
    animation: wave 0.5s infinite steps(1);
  }

  @keyframes wave {
    0% {
      @include pixelize($octocat-1, $octocat-colors);
    }
    50% {
      @include pixelize($octocat-2, $octocat-colors);
    }
  }
}
