.nes-smartphone {
  $smartphone-colors: (#fff, #060606);
  // prettier-ignore
  $smartphone: (
    (0,2,2,2,2,2,2,2,2,2,2,2,2,2,0),
    (2,2,1,1,1,1,1,1,1,1,1,1,1,2,2),
    (2,1,1,1,2,2,2,2,2,2,2,1,1,1,2),
    (2,1,1,1,1,1,1,1,1,1,1,1,1,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,2,2,2,2,2,2,2,2,2,2,2,1,2),
    (2,1,1,1,1,1,1,1,1,1,1,1,1,1,2),
    (2,1,1,1,1,1,1,2,2,1,1,1,1,1,2),
    (2,1,1,1,1,1,1,2,2,1,1,1,1,1,2),
    (2,2,1,1,1,1,1,1,1,1,1,1,1,2,2),
    (0,2,2,2,2,2,2,2,2,2,2,2,2,2,0)
  );
  $size: 6px;

  position: relative;
  display: inline-block;
  width: $size * length(nth($smartphone, 1));
  height: $size * length($smartphone);

  &::before {
    position: absolute;
    top: -$size;
    left: -$size;
    content: "";
    background: transparent;

    @include pixelize($size, $smartphone, $smartphone-colors);
  }
}
