.snes-jp-logo {
  $px: 3px;
  $logo-colors: (#333, #d7d7d7, #7dbb78, #999cf7, #f40500, #f6f504);

  // prettier-ignore
  $logo: (
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,0,0),
    (0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
    (1,2,2,1,2,2,2,2,2,2,2,4,2,2,1),
    (1,2,1,1,1,2,2,2,2,2,3,2,5,2,1),
    (1,2,2,1,2,2,1,2,1,2,2,6,2,2,1),
    (0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,0,0)
  );
  $size: 4px;

  position: relative;
  display: inline-block;
  width: $size * length(nth($logo, 1));
  height: $size * length($logo);

  &::before {
    position: absolute;
    top: -$size;
    left: -$size;
    content: "";
    background: transparent;

    @include pixelize($size, $logo, $logo-colors);
  }
}
