.snes-logo {
  $logo-colors: (#333, #d7d7d7, #8932e5, #ad6df0);

  // prettier-ignore
  $logo: (
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,0,0),
    (0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
    (1,2,2,1,2,2,2,2,2,2,2,4,2,2,1),
    (1,2,1,1,1,2,2,2,2,2,4,2,3,2,1),
    (1,2,2,1,2,2,1,2,1,2,2,3,2,2,1),
    (0,1,2,2,2,2,2,2,2,2,2,2,2,1,0),
    (0,0,1,1,1,1,1,1,1,1,1,1,1,0,0)
  );

  position: relative;
  display: inline-block;
  width: calc(1em * 16);
  height: calc(1em * 11);
  font-size: 3px;

  &::before {
    position: absolute;
    top: -1em;
    left: -1em;
    content: "";
    background: transparent;

    @include pixelize($logo, $logo-colors);
  }
}
