// https://en.wikipedia.org/wiki/List_of_video_game_console_palettes#NES

$color-black: #212529;
$color-white: #fff;

$color-00: #7c7c7c;
$color-01: #0000fc;
$color-02: #0000bc;
$color-03: #4428bc;
$color-04: #940084;
$color-05: #a80020;
$color-06: #a81000;
$color-07: #881400;
$color-08: #503000;
$color-09: #007800;
$color-0A: #006800;
$color-0B: #005800;
$color-0C: #004058;
$color-0D: #000;
$color-0E: #000;
$color-0F: #000;

$color-10: #bcbcbc;
$color-11: #0078f8;
$color-12: #0058f8;
$color-13: #6844fc;
$color-14: #d800cc;
$color-15: #e40058;
$color-16: #f83800;
$color-17: #e45c10;
$color-18: #ac7c00;
$color-19: #00b800;
$color-1A: #00a800;
$color-1B: #00a844;
$color-1C: #088;
$color-1D: #000;
$color-1E: #000;
$color-1F: #000;

$color-20: #f8f8f8;
$color-21: #3cbcfc;
$color-22: #6888fc;
$color-23: #9878f8;
$color-24: #f878f8;
$color-25: #f85898;
$color-26: #f87858;
$color-27: #fca044;
$color-28: #f8b800;
$color-29: #b8f818;
$color-2A: #58d854;
$color-2B: #58f898;
$color-2C: #00e8d8;
$color-2D: #787878;
$color-2E: #000;
$color-2F: #000;

$color-30: #fcfcfc;
$color-31: #a4e4fc;
$color-32: #b8b8f8;
$color-33: #d8b8f8;
$color-34: #f8b8f8;
$color-35: #f8a4c0;
$color-36: #f0d0b0;
$color-37: #fbdfa6;
$color-38: #f8d878;
$color-39: #d8f878;
$color-3A: #b8f8b8;
$color-3B: #b8f8d8;
$color-3C: #00fcfc;
$color-3D: #d8d8d8;
$color-3E: #000;
$color-3F: #000;
