// Override reboot.scss

html,
body,
pre,
code,
kbd,
samp {
  font-family: $font-family;
}

body {
  font-size: $font-size;
  color: $base-color;
  background-color: $background-color;
  -webkit-font-smoothing: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
