// Font
$font-family: "Press Start 2P" !default;
$font-size: 16px !default;

$base-color: $color-black;
$background-color: $color-white;

$cursor-url: url(https://unpkg.com/nes.css/assets/cursor.png);
$cursor-click-url: url(https://unpkg.com/nes.css/assets/cursor-click.png);

$default-colors: (
  normal: $background-color,
  hover: #e7e7e7,
  shadow: #adafbc
);
$disabled-colors: (
  normal: #d3d3d3,
  shadow: #adafbc
);
$primary-colors: (
  normal: #209cee,
  hover: #108de0,
  shadow: #006bb3
);
$success-colors: (
  normal: #92cc41,
  hover: #76c442,
  shadow: #4aa52e
);
$warning-colors: (
  normal: #f7d51d,
  hover: #f2c409,
  shadow: #e59400
);
$error-colors: (
  normal: #e76e55,
  hover: #ce372b,
  shadow: #8c2022
);
