// Font
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
$font-family: "Press Start 2P" !default;
$font-size: 16px !default;

$base-color: $color-black;
$background-color: $color-white;
