@mixin before($px, $color: #b3b3b3) {
  &::before {
    position: absolute;
    top: $px + 10px * -1;
    left: $px + 16px * -1;
    width: $px;
    height: $px;
    content: "";
    background: transparent;
    box-shadow: 16px 4px 0 $color, 20px 4px 0 $color, 8px 8px 0 $color, 12px 8px 0 $color,
      24px 8px 0 $color, 28px 8px 0 $color, 8px 12px 0 $color, 28px 12px 0 $color, 4px 16px 0 $color,
      32px 16px 0 $color, 4px 20px 0 $color, 32px 20px 0 $color, 8px 24px 0 $color,
      28px 24px 0 $color, 8px 28px 0 $color, 12px 28px 0 $color, 24px 28px 0 $color,
      28px 28px 0 $color, 16px 32px 0 $color, 20px 32px 0 $color;
  }
}
.avatar {
  position: relative;
  display: inline-block;

  &.is-small {
    $small: 1px;
    img {
      $size: $small * 16;

      width: $size;
      height: $size;
      border-radius: 50px;
    }
    @include before(4px);
  }
  &.is-medium {
    $medium: 3px;
    img {
      $size: $medium * 16;

      width: $size;
      height: $size;
      background: transparent;
      border-radius: 50px;
    }
    @include before(12px);
  }
  &.is-large {
    $large: 4px;
    img {
      $size: $large * 16;

      width: $size;
      height: $size;
      background: transparent;
      border-radius: 50px;
    }
    @include before(16px);
  }
}
