@mixin img-style($param) {
  img {
    $size: $param * 16;

    width: $size;
    height: $size;
    background: transparent;
  }
  &.is-rounded img {
    border-radius: 50px;
  }
}
@mixin avatar-border-style($color) {
  border: 4px solid $color;
}
.avatar {
  position: relative;
  display: inline-block;
  @include img-style(2px);

  &.is-small {
    @include img-style(1px);
  }
  &.is-medium {
    @include img-style(3px);
  }
  &.is-large {
    @include img-style(4px);
  }
  &.is-bordered {
    @include avatar-border-style($base-color);
  }
  &.is-bordered.is-success {
    @include avatar-border-style(map-get($success-colors, "normal"));
  }
  &.is-bordered.is-warning {
    @include avatar-border-style(map-get($warning-colors, "normal"));
  }
  &.is-bordered.is-error {
    @include avatar-border-style(map-get($error-colors, "normal"));
  }
  &.is-bordered.is-primary {
    @include avatar-border-style(map-get($primary-colors, "normal"));
  }
  &.is-bordered.is-default {
    @include avatar-border-style(map-get($default-colors, "normal"));
  }
}
