$border-size: 6px;

.button {
  position: relative;
  display: inline-block;
  padding: 10px 12px;
  margin: $border-size / 2;
  vertical-align: middle;
  cursor: pointer;
  background-color: $background-color;
  outline: none;
  box-shadow: inset -4px -4px 0 0 $shadow-color;

  &:hover {
    background-color: $hover-background-color;
    box-shadow: inset -6px -6px 0 0 $shadow-color;
  }

  &:active {
    box-shadow: inset 4px 4px 0 0 $shadow-color;
  }

  & + & {
    margin-left: 1rem;
  }

  // border
  &::before,
  &::after {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    content: "";
    border-color: $black;
    border-style: solid;
  }

  &::before {
    top: $border-size / 2 * -1;
    left: 0;
    border-right: $border-size;
    border-left: $border-size;
  }

  &::after {
    top: 0;
    left: $border-size / 2 * -1;
    border-top: $border-size;
    border-bottom: $border-size;
  }

  // Button types(type background-color hover:background-color box-shadow)
  // prettier-ignore
  $btn-types:
    "primary" $primary-background-color $primary-hover-background-color $primary-shadow-color,
    "success" $success-background-color $success-hover-background-color $success-shadow-color,
    "warning" $warning-background-color $warning-hover-background-color $warning-shadow-color,
    "error" $error-background-color $error-hover-background-color $error-shadow-color;

  @each $type in $btn-types {
    &.-#{nth($type, 1)} {
      color: $white;
      background-color: nth($type, 2);
      box-shadow: inset -4px -4px 0 0 nth($type, 4);

      &:hover {
        background-color: nth($type, 3);
        box-shadow: inset -6px -6px 0 0 nth($type, 4);
      }

      &:active {
        box-shadow: inset 4px 4px 0 0 nth($type, 4);
      }
    }
  }

  // prettier-ignore
  $btn-sizes:
    "small" $small-font-size,
    "medium" $medium-font-size,
    "large" $large-font-size;

  @each $name, $size in $btn-sizes {
    &.-#{$name} {
      font-size: $size;
    }
  }
}
