.container {
  position: relative;
  padding: 1.5rem 2rem;

  &::before,
  &::after {
    position: absolute;
    content: "";
    border-radius: 4px;
  }

  &::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-color: $background-color;
    border-radius: 4px;
  }

  &::after {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    z-index: -1;
    border: 4px solid;
    border-radius: 4px;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &.-with-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;

    &.-center {
      align-items: center;
      justify-content: center;
    }

    &.-right {
      justify-content: flex-end;
    }

    > .title {
      position: absolute;
      top: 0;
      padding: 0 0.5rem;
      margin: 0;
      font-size: $h6-font-size;
      font-weight: 400;
      background-color: $background-color;
    }
  }

  &._dark {
    color: $white;

    &::before {
      background-color: $black;
    }

    &::after {
      border-color: $white;
    }

    > .title {
      color: $white;
      background-color: $black;
    }
  }
}
