dl.description {
  display: grid;
  grid-template: auto / 15rem 1fr;
  grid-gap: 0.8rem 2rem;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  > dt {
    position: relative;
    grid-column: 1;
    float: left;

    &.-colon::after {
      position: absolute;
      top: 0;
      right: -1.5rem;
      z-index: -1;
      content: ":";
    }
  }

  > dd {
    grid-column: 2;
  }
}
