.nes-dialog {
  padding: 1.5rem 2rem;

  > .backdrop,
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }

  > :last-child {
    margin-bottom: 0;
  }

  &.is-rounded {
    border: none;
    box-shadow: 4px 0 $base-color, -4px 0 $base-color, 0 4px $base-color, 0 -4px $base-color;
  }
}
