.nes-dialog {
  padding: 1.5rem 2rem;

  > .backdrop,
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }

  > :last-child {
    margin-bottom: 0;
  }

  &.is-rounded {
    @include rounded-corners();

    &.is-dark {
      @include rounded-corners(true);
    }
  }
  &.is-dark {
    color: $background-color;
    background-color: $base-color;
    border-color: $background-color;

    &::after {
      position: absolute;
      top: -$border-size * 1.8;
      right: -$border-size * 1.8;
      bottom: -$border-size * 1.8;
      left: -$border-size * 1.8;
      z-index: -1;
      content: "";
      background-color: $base-color;
    }
  }
}
