.radios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  > label {
    display: flex;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    > .radio[type="radio"] {
      margin-right: 0.3rem;
      vertical-align: middle;
      cursor: pointer;
      visibility: hidden;

      &::before {
        visibility: visible;
        content: "";
        animation: blink 1s infinite steps(1);
      }

      &:checked::before {
        content: "\203A";
      }
    }
  }

  &.-columns {
    flex-direction: column;
    align-items: flex-start;

    > label:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
