.radio {
  // prettier-ignore
  $radio: (
    (1,1,0,0,0,0),
    (1,1,1,1,0,0),
    (1,1,1,1,1,0),
    (1,1,1,1,1,1),
    (1,1,1,1,1,0),
    (1,1,1,1,0,0),
    (1,1,0,0,0,0),
  );
  $colors: ($base-color);

  margin-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  & + span {
    position: relative;
  }

  &:checked + span::before {
    position: absolute;
    top: -2px;
    left: -20px;
    content: "";
    animation: blink 1s infinite steps(1);

    @include pixelize($radio, $colors, 2px);
  }
}
