.table {
  &.is-centered th {
    text-align: center;
  }
  &.is-bordered {
    box-shadow: 0 -4px #212529, 0 -8px #fff, 4px 0 #212529, 4px -4px #fff, 8px 0 #fff, 0 4px #212529,
      0 8px #fff, -4px 0 #212529, -4px 4px #fff, -8px 0 #fff, -4px -4px #fff, 4px 4px #fff;

    th,
    td {
      padding: 8.5px;
    }

    tr th {
      box-shadow: 0 -4px #212529, 0 -8px #fff, 0 0 #212529, 4px -4px #fff, 8px 0 #fff, 0 4px #212529,
        0 8px #fff, -4px 0 #212529, -4px 4px #fff, -8px 0 #fff, -4px -4px #fff, 4px 4px #fff;
    }

    tr th:last-child {
      box-shadow: 0 -4px #212529, 0 -8px #fff, 4px 0 #212529, 4px -4px #fff, 8px 0 #fff,
        0 4px #212529, 0 8px #fff, -4px 0 #212529, -4px 4px #fff, -8px 0 #fff, -4px -4px #fff,
        4px 4px #fff;
    }

    tr td {
      box-shadow: 0 4px #212529, 4px 6px #fff, 1px 0 #212529, 4px 4px #fff, 1px 0 #fff,
        -4px 4px #212529, 4px 4px #fff, -4px 0 #212529, -2px 8px #fff, 0 4px #fff, 1px 0 #fff,
        0 0 #fff;
    }

    tr td:last-child {
      box-shadow: 0 0 #212529, 0 -8px #fff, 4px 0 #212527, 4px 0 #fff, 8px 0 #fff, 0 4px #212529,
        0 -8px #fff, -4px 0 #212529, 0 4px #fff, -4px 0 #fff, 8px 0 #fff, -4px 0 #fff;
    }
  }
}
