.title {
  font-weight: 700;
  word-break: break-word;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  // prettier-ignore
  $sizes:
    $h1-font-size,
    $h2-font-size,
    $h3-font-size,
    $h4-font-size,
    $h5-font-size,
    $h6-font-size;

  @each $size in $sizes {
    $i: index($sizes, $size);

    &.-is-#{$i} {
      font-size: $size;
    }
  }
}

.subtitle {
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  // prettier-ignore
  $sizes:
    $h1-font-size,
    $h2-font-size,
    $h3-font-size,
    $h4-font-size,
    $h5-font-size,
    $h6-font-size;

  @each $size in $sizes {
    $i: index($sizes, $size);

    &.-is-#{$i} {
      font-size: $size;
    }
  }
}
