.nes-checkbox {
  // prettier-ignore
  $checkbox: (
    (1,1,1,1,1,1,1,1,0,0),
    (1,0,0,0,0,0,0,1,0,0),
    (1,0,0,0,0,0,0,1,0,0),
    (1,0,0,0,0,0,0,1,0,0),
    (1,0,0,0,0,0,0,1,0,0),
    (1,0,0,0,0,0,0,1,0,0),
    (1,0,0,0,0,0,0,1,0,0),
    (1,1,1,1,1,1,1,1,0,0),
  );

  // prettier-ignore
  $checkbox-checked: (
    (1,1,1,1,1,1,1,0,1,1),
    (1,0,0,0,0,0,0,1,1,1),
    (1,0,0,0,0,0,1,1,0,0),
    (1,1,0,0,0,1,1,0,0,0),
    (1,1,1,0,1,1,0,1,0,0),
    (1,0,1,1,1,0,0,1,0,0),
    (1,0,0,1,0,0,0,1,0,0),
    (1,1,1,1,1,1,1,1,0,0)
  );
  // prettier-ignore
  $checkbox-focus: (
    (2,2,2,2,2,2,2,2,0,0),
    (2,0,0,0,0,0,0,2,0,0),
    (2,0,0,0,0,0,0,2,0,0),
    (2,0,0,0,0,0,0,2,0,0),
    (2,0,0,0,0,0,0,2,0,0),
    (2,0,0,0,0,0,0,2,0,0),
    (2,0,0,0,0,0,0,2,0,0),
    (2,2,2,2,2,2,2,2,0,0),
  );

  // prettier-ignore
  $checkbox-checked-focus: (
    (2,2,2,2,2,2,2,0,1,1),
    (2,0,0,0,0,0,0,1,1,1),
    (1,0,0,0,0,0,1,1,0,0),
    (1,1,0,0,0,1,1,0,0,0),
    (2,1,1,0,1,1,0,2,0,0),
    (2,0,1,1,1,0,0,2,0,0),
    (2,0,0,1,0,0,0,2,0,0),
    (2,2,2,2,2,2,2,2,0,0)
  );
  $colors: ($base-color, map-get($default-colors, "shadow"));
  $colors-checkbox-dark: ($color-white, map-get($default-colors, "shadow"));

  margin-left: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include visually-hidden();

  & + span {
    position: relative;
    cursor: $cursor-click-url, pointer;
  }

  & + span::before,
  &:checked + span::before {
    position: absolute;
    top: -3px;
    left: -28px;
    content: "";
  }

  // prettier-ignore
  & + span::before { /* stylelint-disable-line no-descending-specificity */
    @include pixelize(2px, $checkbox, $colors);
  }
  // prettier-ignore
  &:focus + span::before { /* stylelint-disable-line no-descending-specificity */
    @include pixelize(2px, $checkbox-focus, $colors);
  }

  &:checked + span::before {
    @include pixelize(2px, $checkbox-checked, $colors);
  }
  &:checked:focus + span::before {
    @include pixelize(2px, $checkbox-checked-focus, $colors);
  }
  &.is-dark {
    + span {
      color: $color-white;
    }
    // prettier-ignore
    + span::before { /* stylelint-disable-line no-descending-specificity */
      color: $color-white;
    }

    &:checked + span::before {
      @include pixelize(2px, $checkbox-checked-focus, $colors-checkbox-dark);

      color: $color-white;
    }
    &:checked:focus + span::before {
      @include pixelize(2px, $checkbox-checked-focus, $colors-checkbox-dark);

      color: $color-white;
    }
  }
}
