.field {
  margin-bottom: 1rem;

  .label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .input {
    position: relative;
    width: 100%;
    padding: 1rem 1rem 0.5rem;
    background-color: $background-color;
    border: 4px solid $black;

    &::placeholder {
      font-weight: lighter;
      color: rgba($black, 0.3);
    }

    &.-success {
      border-color: $success-background-color;
    }

    &.-warning {
      color: $warning-shadow-color;
      border-color: $warning-background-color;
    }

    &.-error {
      color: $error-background-color;
      border-color: $error-background-color;
    }
  }

  &.-inline {
    display: flex;
    align-items: baseline;

    .label {
      width: 20rem;
      margin: 0;
      margin-right: 1rem;
      text-align: right;
    }
  }
}
